<div class="container">
  <%= render "layouts/user_info", user: @user, reports: @reports%>
  <% if current_user == @user %>
    <h2 class="text-center">Reports</h2>
    <% if @reports.count < 1 %>
      <h4 class="text-center my-4 text-secondary">通報はありません</h4>
    <% else %>
      <% @reports.each do |report| %>
        <div class="shadow m-4 p-3 border border-dark rounded text-center">
          <h4>通報理由:</h4>
          <h3><%= report.title %></h3>
          <h5><%= report.body %></h5>
          <a href="#" class="btn btn-outline-danger btn-sm btn-block mt-4 col-6 mx-auto reflection">反省する</a>
        </div>
        <div id="reflection-back" class="p-5 reflection">
          <div class="shadow mx-auto p-5 my-5 border border-dark rounded text-center text-dark bg-white col-md-8">
            <h4>通報理由:</h4>
            <h3><%= report.title %></h3>
            <h5><%= report.body %></h5>
            <h5 class="mt-5 pt-5 border-top border-dark">Massage</h5>
            <%= form_with url:report_path(report), method: :delete, local: true do |f| %>
              <%= f.text_field :message, class: "col-12" %>
              <%= f.submit :反省しました, class:"btn btn-success btn-sm mt-4 mx-auto col-7"%>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="text-center">
      <% if @reports.where(user_id: current_user.id).count > 0 %>
        <h2>Your Reports</h2>
        <% @reports.where(user_id: current_user.id).each do |report| %>
          <div class="shadow m-4 p-3 border border-dark rounded text-center">
            <h4>通報理由:</h4>
            <h3><%= report.title %></h3>
            <h5><%= report.body %></h5>
            <%= link_to "取り消す", report_path(report), method: :delete, class:"btn btn-outline-danger btn-sm btn-block mt-4 col-6 mx-auto" %>
          </div>
        <% end %>
      <% end %>
      <h2>Report Form</h2>
      <%= form_with model: @report, local:true do |f| %>
        <div class="my-3">
          <label for="title">通報理由</label><br>
          <%= f.text_field :title, id:"title" %>
        </div>
        <div class="my-3">
          <label for="body">詳細内容</label><br>
          <%= f.text_area :body, id:"body" %>
        </div>
        <div class="mx-auto mt-5 col-6">
        <%= f.text_field :reportee_id, value: @user.id, class: "d-none"%>
        <%= f.submit '通報', class:"btn btn-danger btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag 'report.js'%>