<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Yhbr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav-bar navbar-expand-lg navbar-light bg-danger mb-5">
        <div class="container">
          <%= link_to root_path do %>
            <div class="logo"><%= image_tag('logo.png') %></div>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="bg-danger mt-5 copyright">
        <div class="text-center text-white">
          <p>©️CopyRights　Ogikun</p>
        </div>
      </div>
    </footer>
  </body>
</html>
